{{#section 'head'}}
<link rel="stylesheet" href="/assets/css/overlay.css" />
{{/section}}


<div class="poll hidden" data-channel="{{channel}}" data-id="">
	<div class="title"></div>
	<ol class="options"></ol>

	<div class="help">Use <code>!v #</code> to vote.</div>
</div>


{{!--
<div class="closed hidden">
	<div class="title"></div>
	<div class="winning"></div>
	<div class="votes"></div>
</div> --}}



{{#section 'head'}}
<script src="/assets/scripts/overlay.js"></script>
{{/section}}
