{{#section 'head'}}
<link rel="stylesheet" href="/assets/css/overlay.css" />
{{/section}}


<div class="poll hidden" data-channel="{{channel}}" data-poll="5000" data-id="">
	<div class="title"></div>
	<ol class="options"></ol>

	<div class="help">Use <code>!v #</code> to vote.</div>

	<div class="progress">
		<div class="bar"></div>
	</div>
</div>



{{#section 'head'}}
<script src="/assets/scripts/overlay.js"></script>
{{/section}}
