{{#section 'head'}}
<link rel="stylesheet" href="/assets/css/overlay.css" />
{{/section}}


<div class="poll hidden" data-channel="{{channel}}" data-id="">
	<div class="title"></div>

	<ol class="options"></ol>

	<div class="help">Type <span class="command">!v #</span> in chat to vote.</div>
</div>



<div class="closed hidden">
	<div class="title"></div>
	<div class="winning"></div>
	<div class="votes-message">with <span class="votes"></span> votes</div>
</div>



{{#section 'head'}}
<script src="/assets/scripts/overlay.js"></script>
{{/section}}
