<div>
	<form action="/manage/" method="POST">

		<input type="hidden" name="channel" value="{{channel}}" />
		<div>
			<label>Poll Name
				<input type="text" name="title" value="" />
			</label>
		</div>

		<div>
			<label>Poll Item 1
				<input type="text" name="items" value="" />
			</label>
		</div>

		<div>
			<label>Poll Item 2
				<input type="text" name="items" value="" />
			</label>
		</div>

		<div>
			<label>Poll Item 3
				<input type="text" name="items" value="" />
			</label>
		</div>

		<div>
			<label>Poll Item 4
				<input type="text" name="items" value="" />
			</label>
		</div>


		<button type="submit">Create Poll</button>
	</form>
</div>
